@import "../../constants/consts.scss";

html,
body {
  height: 100%;
  overflow: auto;
}

.container-fluid {
  width: 95%;
  margin: 0 auto;
  max-width: initial;
  > .row {
    margin: 0 auto;
    > .col {
      padding: 1rem;
    }
  }
}
